// "bootstrap-sprockets" must be imported before "bootstrap" for the icon fonts to work.
/*@import "bootstrap-variables.scss";
@import "bootstrap-custom-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";
@import "bootstrap-modal";
@import "rails_bootstrap_forms";*/
@import "font-awesome";
@import "bootstrap-modal";

#form {
  display: none;
  position: absolute;
  border-radius: 50%;
  width: 35em;
  height: 35em;
  left: 50%;
  margin-left: (-600px - 40px) / 2;
  padding: 20px;
  background: #fff;
  text-align: center;

  & > .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    &:hover, &:active {
      color: #000;
    }
  }
}

.modal-title {
  font-family: Helvetica;
  font-weight: bold;
  color: #F89617;
  font-size: 30px;
  margin-top: 50px;
}

.modal-title-tasks {
  font-family: Helvetica;
  font-weight: bold;
  color: #F89617;
  font-size: 30px;
  margin-top: 68px;
}

.modal-body-content {
  border-collapse: separate;
  border-spacing: 0px 10px;
  width: 80%;
  margin-left: 9%;
  margin-top: -32px;
}

.modal-body-content-tasks {
  width: 80%;
  margin-left: 9%;
  margin-top: 62px;
}

.modal-td {
  background-color: #CCCCCC;
  color: black;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

.modal-td > input{
  background-color: #CCCCCC;
  border: none;
  font-size: 15px;
}

#modal-timezone {
  background-color: #666666;
  color: white;
}

.actions > input {
  font-size: 17px;
  color: white;
  padding: 12px 10px;
  background: #FFA633;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: solid 1px #FFA633;
  font-weight: normal;
  width: 277px;
  margin-top: 10px;
}

body {
  margin-right: 40px;
  margin-left: 40px;
  background-color: #250E49;
  font-family: Helvetica;
}

h1 {
  color: white;
  font-family: Arial;
  padding-left: 20px;
  font-size: 39px;
  padding-top: 30px;
}

h2 {
  color: white;
  font-family: Arial;
  padding-left: 20px;
  font-size: 14px;
  margin-top: -17px;
  margin-bottom: 28px;
}

h3 {
  color: #DDC7FF;
  font-family: Arial;
  padding-left: 20px;
  font-size: 13px;
  margin-top: -17px;
  margin-bottom: 28px;
  font-weight: normal;
}

thead {
  background-color: white;
  font-size: 16px;
  color: #250E49;
}

.table > thead > tr > th {
  text-align: left;
  padding-left: 5px;
}

.table > tbody > tr > td {
  padding: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
    width: 100%;
}

tbody {
  color: white;
  border-radius: 10px;
  font-size: 14px;
}

tbody tr:nth-child(odd) {
   background-color: #3B275C;
}

tbody tr:nth-child(even) {
   background-color: #513E6D;
}

tr td:first-child {
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
}

tr td:last-child {
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
}

tr th:first-child {
    -moz-border-radius-topleft: 25px;
    -moz-border-radius-bottomleft: 25px;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
}

tr th:last-child {
    -moz-border-radius-topright: 25px;
    -moz-border-radius-bottomright: 25px;
    -webkit-border-top-right-radius: 25px;
    -webkit-border-bottom-right-radius: 25px;
}

.page-header {
  border-bottom: none;
}

.description {
  vertical-align: middle;
}

.yellow-name {
  color: #FFFAAE;
}

.glyphicon {
  color: #F89617;
  font-size: 40px;
  line-height: 0;
  display: -webkit-inline-box;
}

input[type="radio"], input[type="checkbox"] {
  width: initial;
  height: initial;
  margin-top: 7px;
}

.fa {
  color: #F89617;
  font-size: 45px;
}

#table-tasks {
  background-color: white;
  border-radius: 25px;
}

#tasks-list > tr > td {
  background-color: #A3A1A5;
  color: #250E49;
}

#table-tasks > table > #tasks-list {
  margin-left: 20px;
}

.table-two {
  border-collapse: separate;
  border-spacing: 0px 10px;
}


.table-two > thead > tr > th {
  text-align: left;
  padding-left: 5px;
}

.table-two > tbody > tr > td {
  margin-left: 20px;
}

.completed {
  font-size: 14px;
  color: white;
  padding: 12px 18px;
  background: #2A940E;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: solid 1px #2A940E;
  font-weight: bold;
  width: 145px;
}

.mark-completed {
  font-size: 14px;
  color: white;
  padding: 12px 10px;
  background: #727073;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  border: solid 1px #727073;
  font-weight: bold;
  width: 145px;
}

#last-td {
  text-align: right;
}

.table-body {
  margin-left: 20px;
}

